  /* #root {
    max-width: 1280px;
    margin: 0;
    padding: 2rem;
    text-align: center;
  } */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .ankit {
    align-items: center;
    height: 85vh;
    padding-top: 2rem;
  }

  .container {
    text-align: center;
  }

  .pdf{
    width: 70vw;
    margin-top: -30px;
    /* margin: 0 auto; */
  }

  .pdf-head{
    position: fixed;
    height: 300px;
    left: 0;
    width: 100vw;
    /* text-align: start; */
  }