  /* #root {
    max-width: 1280px;
    margin: 0;
    padding: 2rem;
    text-align: center;
  } */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .ankit {
    align-items: center;
    height: 85vh;
    padding-top: 2rem;
  }

  .container {
    text-align: center;
  }

  .pdf {
    width: 70vw;
    margin-top: 20px;
    /* margin: 0 auto; */
  }

  .pdf-head {
    position: fixed;
    height: 300px;
    left: 0;
    width: 100vw;
    /* text-align: start; */
  }

  @media screen and (max-width: 500px) {
    .pdf {
      width: 100vw;
      margin-top: 70px;
    }

    .pdf-head {
      height: 200px;
    }
  }
  @media screen and (max-width: 400px) {
    .pdf {
      width: 100vw;
      margin-top: 100px;
    }

    .pdf-head {
      height: 200px;
    }
  }